limit = 65rem
color_text_light = #555
.timer
  font-weight bold
  margin 3rem auto
  text-align center
  clear both
  color color_text_light
  font-size 8.4em
  text-align center
  @media all and (max-width limit)
    font-size 7em
