@import '../styles/vars'
.todo
  border-bottom 1px solid #ededed
  position relative
  padding 0
  width 100%
  font-size 1.3em
  &:last-child
    border-bottom none

.todo.completed label
  color color_text_light
  text-decoration line-through

.todo .toggle
  text-align center
  width 40px
  height auto
  position absolute
  top 0
  bottom 0
  margin auto 0
  border none
  -webkit-appearance none
  appearance none

.todo .toggle:after
  content url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='-10 -18 100 135'><circle cx='50' cy='50' r='50' fill='none' stroke='#ededed' stroke-width='3'/></svg>")

.todo .toggle:checked:after
  content url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='-10 -18 100 135'><circle cx='50' cy='50' r='50' fill='none' stroke='#bddad5' stroke-width='3'/><path fill='#5dc2af' d='M72 25L42 71 27 56l-4 4 20 20 34-52z'/></svg>")

.todo label
  display block
  white-space pre
  word-break break-word
  font-weight 400
  padding 15px 60px 15px 15px
  margin-left 45px
  line-height 1.2
  transition color 0.4s

.todo.completed label
  color #d9d9d9
  text-decoration line-through

.todo .destroy
  display none
  position absolute
  top 0
  right 10px
  bottom 0
  width 50px
  height 50px
  margin auto 0
  color #cc9a9a
  transition color 0.2s ease-out
  padding 0
  border 0
  background none
  appearance none

.todo .destroy:hover
  color #af5b5e

.todo .destroy:after
  content '×'
  font-size 1.5rem

.todo:hover .destroy
  display block

.todo .edit-view, .todo.editing .normal-view
  display none

.todo.editing .edit-view
  display block
  width 506px
  padding 13px 17px 12px 17px
  margin 0 0 0 43px
