@import '../styles/vars'
@import '../styles/layout'

.top-bar
  @extends .container
  background white
  overflow hidden
  border-bottom 1px solid rgba(49,78,95,0.075)

  .login-logout, .profile
    float right

  a, .item
    text-align center
    display inline-block
    padding 1.3rem
